// responsive variables
$xl: 87.5em; // 4k and hi-res desktop
$lg: 60em; // 1080 and hi-res laptops
$med: 40em; // hi-res tablets and low-res laptops
$sm: 28em; // mobile and low-res tablets
$xs: 20em; // mobile only
html {
    overflow: hidden;
    height: 100%;
}

#navbar {
    text-align: center;
    padding: 0px;
    margin-bottom: 10px;
}

li {
    display: inline;
    padding: 40px;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
}

.background-image {
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;
    margin-left: calc(-50vw + 50%); // fixes the background to fill whole screen
}

.slides {
    height: 15px;
    width: 15px;
    margin: 6px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

$slide-1: #ED3DD2; // slide 1
$slide-2: #2EBAFF; // slide 2
$slide-3: #0E90CA; // slide 3
$slide-4: #FF682C; // slide 4
$slide-5: #FF4502; // slide 5
$slide-6: #F9B5C0; // slide 6
$slide-7: #FD90D3; // slide 7
$slide-8: #FD90D3; // slide 8
.create {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 25px;
    padding: 15px;
    letter-spacing: 14px;
    padding-left: 1em;
    font-family: 'Nunito Sans', sans-serif;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    opacity: 0.4;
    outline: none;
    cursor: pointer;
}

.hover-class1:hover {
    color: $slide-1 !important;
    border: 2px solid $slide-1 !important;
    box-shadow: 0 0 4px white !important;
    text-shadow: 0px 0px 2px white;
    opacity: 1;
}

.hover-class2:hover {
    color: $slide-2 !important;
    border: 2px solid $slide-2 !important;
    box-shadow: 0 0 4px white !important;
    text-shadow: 0px 0px 2px white;
    opacity: 1;
}

.hover-class3:hover {
    color: $slide-3 !important;
    border: 2px solid $slide-3 !important;
    box-shadow: 0 0 4px white !important;
    text-shadow: 0px 0px 2px white;
    opacity: 1;
}

.hover-class4:hover {
    color: $slide-4 !important;
    border: 2px solid $slide-4 !important;
    box-shadow: 0 0 4px white !important;
    text-shadow: 0px 0px 2px white;
    opacity: 1;
}

.hover-class5:hover {
    color: $slide-5 !important;
    border: 2px solid $slide-5 !important;
    box-shadow: 0 0 4px white !important;
    text-shadow: 0px 0px 2px white;
    opacity: 1;
}

.hover-class6:hover {
    color: $slide-6 !important;
    border: 2px solid $slide-6 !important;
    box-shadow: 0 0 4px white !important;
    text-shadow: 0px 0px 2px white;
    opacity: 1;
}

.hover-class7:hover {
    color: $slide-7 !important;
    border: 2px solid $slide-7 !important;
    box-shadow: 0 0 4px white !important;
    text-shadow: 0px 0px 2px white;
    opacity: 1;
}

.hover-class8:hover {
    color: $slide-8 !important;
    border: 2px solid $slide-8 !important;
    box-shadow: 0 0 4px white !important;
    text-shadow: 0px 0px 2px white;
    opacity: 1;
}

.container {
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#slogan {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #FD90D3;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    letter-spacing: 15px;
    width: 100%;
}